extends ./paper
block navigation
	div(style="width:400px;margin:auto;margin-top:42px;text-align:center;")
		img(src=user.picture_url, style="height:60px;width:auto;border-radius:50%;border:5px solid #FFF;display:inline;vertical-align:bottom;")
		h1(style="display:inline;")  #{paper.title}
	div(style="width:400px;margin:auto;margin-top:15px;")
		button.pill(style="width:200px;border-radius:4px 0 0 4px;", class="active", onclick="window.location.replace('/paper/"+paper.id+"')") Summary
		button.pill(style="width:200px;border-radius:0 4px 4px 0;", class="", onclick="window.location.replace('/paper/"+paper.id+"/discussion')") Discussion
block paper_content
	if paper
		.shadow(style="position:relative;margin-top:20px;")
			h3.smallcaps author
			p 
				a(href="/user/"+user.id) #{user.real_name}
			h3.smallcaps Link 
			p
				a(href=paper.location) #{paper.location}
			h3.smallcaps Abstract
			if paper.document_abstract
				p #{paper.document_abstract}
			else
				p
					em There is no abstract to display
	else
		p error