extends ./paper
block navigation
	if paper
		p
			a(href="/paper/"+paper.id) Summary 
			| | Discussion 

block paper_content

	form
		.shadow
			textarea(name="response_content" id="#response-textarea")


	if responses
		each response in responses
			.response.shadow(style="position:relative;min-height:170px; margin-top:35px;")
				.side
					img(src=response.picture_url, style="height:150px;width:auto;border-radius:50%;border:5px solid #FFF;position: absolute;top: -35px;left: -35px;", class="icon-btn")
					img(src="/img/arrow.png", style="-webkit-transform: rotate(270deg);", class="icon-btn")
					img(src="/img/arrow.png", style="-webkit-transform: rotate(90deg);", class="icon-btn")
				.response-header(style="padding-left:80px")
					h2 #{response["real_name"]}
				button(type="button" class="showhide-btn", style="position:absolute;top:10px;right:10px;") Show
				div(style="display:none;")
					.response-content
						p #{response.content}
						.comments
							h3 Comments
							if response.comments
								each comment in response.comments
									.comment
										span
											b #{comment["real_name"]} 
											| #{comment["comment_text"]} 
											span(style="color:grey;") - #{comment["niceTime"]}
	else
		p there are no responses to display