extends ./paper
block navigation
	div(style="width:400px;margin:auto;margin-top:42px;text-align:center;")
		img(src=paper.author_picture_url, style="height:60px;width:auto;border-radius:50%;border:5px solid #FFF;display:inline;vertical-align:bottom;")
		h1(style="display:inline;")  #{paper.title}
	div(style="width:400px;margin:auto;margin-top:15px;")
		button.pill(style="width:200px;border-radius:4px 0 0 4px;", class="", onclick="window.location.replace('/paper/"+paper.document_id+"')") Summary
		button.pill(style="width:200px;border-radius:0 4px 4px 0;", class="active", onclick="window.location.replace('/paper/"+paper.document_id+"/discussion')") Discussion
block paper_content
	if responses
		each response in responses
			.response.shadow(style="position:relative;min-height:100px; margin-top:35px;")
				.side
					img(src=response.picture_url, style="height:120px;width:auto;border-radius:50%;border:5px solid #FFF;position: absolute;top: -35px;left: 0px;", class="icon-btn")
				.response-header(style="padding-left:80px")
					span(style="font-size:0.9em;font-weight:300;text-transform:uppercase;color:#333") #{response.niceTime}
					h2 #{response["real_name"]} 
						small (<a href="/paper/#{paper.document_id}/discussion/#{response.response_type_id}#{response.response_type_id}">#{response["response_type"]}</a>)
				if logged_in
					div(style="position:absolute;top:17px;right:180px;")
						a(onclick="vote(" +  response.response_id + ", -1, this)", class="vote")
							i(class="fa fa-thumbs-down fa-2x")
					div(style="position:absolute;top:17px;right:122px;")
						a(onclick="vote(" +  response.response_id + ", 1, this)", class="vote")
							i(class="fa fa-thumbs-up fa-2x")
				button.pill(type="button" class="showhide-btn", style="background-color:#4791FF;position:absolute;top:10px;right:10px;width:100px") Show More
				div(style="padding-left:80px;height:0; overflow:hidden;")
					.response-content
						p!= response.content
						.comments
							hr
							if response.comments.length>0
								each comment in response.comments
									.comment
										span
											a(href="/user/"+comment.author_id, style="font-weight:bold;") #{comment["real_name"]} 
											| !{comment["comment_text"]} 
											span(style="color:grey;") - #{comment["niceTime"]}
							else
								em There are no comments to display.
						if logged_in
							form(action="/api/comments/", method="post")
								br
								div(id="wysihtml5-toolbar", style="display: none;")&nbsp;
									a(data-wysihtml5-command="bold") 
										i(class="fa fa-bold fa-border") 
									a(data-wysihtml5-command="italic") 
										i(class="fa fa-italic fa-border")
									a(data-wysihtml5-command="createLink") 
										i(class="fa fa-link fa-border")
									div(data-wysihtml5-dialog="createLink",style="display: none;")
										label Link:
											input(data-wysihtml5-dialog-field="href",value="http://",class="text")
										a(data-wysihtml5-dialog-action="save") OK
										a(data-wysihtml5-dialog-action="cancel") Cancel
								textarea(name="comment_content" id="response-textarea", placeholder="Enter your text ...",autofocus,style="min-height:50px;width:400px;padding:10px;font-size:1.2em;border:2px solid #eeeeee;margin-top:-1px;outline:none;")
								div(style="text-align:right")
									input(type="hidden", name="response_id", value=response.response_id)
									input(type="hidden", name="document_id", value=paper.document_id)
									input(type="submit", value="Comment", style="width:100px; float:left;")
							script.
								var editor = new wysihtml5.Editor("response-textarea",{toolbar:"wysihtml5-toolbar",parserRules:wysihtml5ParserRules});

	else
		p there are no responses to display

	if logged_in
		form(action="/api/responses/", method="post")
			.shadow
				h3 Write a response:
				div(id="wysihtml5-toolbar", style="display: none;")&nbsp;
					a(data-wysihtml5-command="bold") 
						i(class="fa fa-bold fa-2x fa-border") 
					a(data-wysihtml5-command="italic") 
						i(class="fa fa-italic fa-2x fa-border")
					a(data-wysihtml5-command="insertOrderedList") 
						i(class="fa fa-list-ol fa-2x fa-border") 
					a(data-wysihtml5-command="insertUnorderedList") 
						i(class="fa fa-list-ul fa-2x fa-border")
					a(data-wysihtml5-command="createLink") 
						i(class="fa fa-link fa-2x fa-border")
					div(data-wysihtml5-dialog="createLink",style="display: none;")
						label Link:
							input(data-wysihtml5-dialog-field="href",value="http://",class="text")
						a(data-wysihtml5-dialog-action="save") OK
						a(data-wysihtml5-dialog-action="cancel") Cancel
					div(style="float:right")
						h4(style="display: inline;margin-left: 10px;") Response type: 
						select(name="response_type")
							option(value="2") Evaluation
							option(value="3") Summary
							option(value="1") Implications
							option(value="7") Correction
							option(value="4") Related Content
							option(value="5") Refinement
							option(value="6") Further Discussion
				textarea(name="response_content" id="response-textarea", placeholder="Enter your text ...",autofocus,style="min-height:150px;padding:10px;font-size:1.2em;border:2px solid #eeeeee;margin-top:-1px;outline:none;")
				div(style="text-align:right")
					a Save Draft
					a(style="margin:0 10px;") Clear Draft
					input(type="hidden", name="document_id", value=paper.document_id)
					input(type="submit", value="Submit Response", style="margin:5px;width:150px")
		script.
			var editor = new wysihtml5.Editor("response-textarea",{toolbar:"wysihtml5-toolbar",parserRules:wysihtml5ParserRules});
	br
	br
